{% extends "base.html" %}
{% block content %}

<h2>Your History</h2>

{% for r in reports %}
<div class="card">
    <p><strong>Resume Preview</strong></p>
    <p>{{ r.resume[:150] if r.resume else "No resume text" }}</p>

    <hr>

    <h3>Skills</h3>
    <ul>
        {% for s in r.get("skills",[]) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>Missing Skills</h3>
    <ul>
        {% for s in r.get("missing-skills",[]) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>RoadMap</h3>
    <ul>
        {% for s in r.get("roadmap",[]) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>Interview Questions</h3>
    <ul>
        {% for s in r.get("interview_quetions",[]) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}